@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 768px) {
	
}

@media screen and (max-width: 640px) {
	
}

@media screen and (max-width: 576px) {
	
}

@media screen and (max-width: 320px) {
	
}
