<!-- FOOTER -->
	<footer class="footer">

	</footer>
<!-- end FOOTER -->

<!-- Подключение javscript -->
	<script src="js/libs.js"></script>
	<script src="js/common.js"></script>
<!-- end -->

</body>
</html>