@import "partials/_settings";	// Переменные
@import "partials/_fonts"; // Шрифты

// Main
html, 
body {
	width: 100%;
}
body {
	font-family: $font-regular;
	position: relative;
	line-height: 1.4;
	font-size: 16px;
	color: $color;
}
a {
	color: $color-link;
	transition: all .3s;
	&:hover,
	&:focus {
		color: $color-link-hover;
	}
}
input,
textarea,
button {
	outline: none;
	&:focus {
		outline: none;
	}
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/////////////////////////////////////////

// Additional
.title {

}

// HEADER
.header {

}

// FOOTER
.footer {

}

// CONTENT
.content {

}



@import "partials/_media"; //Всегда в конце
